@import '../../theme/variable.scss';

.MainDrawer {
    .drawer-container {
        width: 650px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-family: $font-family !important;
        /* background-color: #f9f9f9; */
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .toggle-btn-group {
            
            .toggle-btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: $font-family !important;
                color: $titleColor !important;
                gap: 6px;
                padding: 6px 12px;
                text-transform: capitalize;
            }

            .toggle-btn.Mui-selected {
                background-color: #7D7F85 !important;
                color: #fff !important;
            }
        }
    }

    .drawer-title {
        font-size: 20px;
        font-weight: bold;
        color: $titleColor !important;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .form-label {
        font-size: 14px;
        font-weight: 600;
        color: $titleColor !important;
        margin-bottom: 8px;
        display: block;
        font-family: $font-family !important;
    }

    .drawer-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .primary-btn {
        background: $button-Bgcolor !important;
        color: $button-color !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .primary-btn:hover {
        background: $button-color-hover !important;
    }

    .secondary-btn {
        border-color: $button-Bordercolor !important;
        color: $button-Bordercolor !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .secondary-btn:hover {
        border-color: $button-Bordercolor;
        color: $button-Bordercolor !important;
    }

    .danger-btn {
        background: $button-DangerBgcolor !important;
        color: $button-Dangercolor !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .bulTaskTableContainer {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
        border-radius: 8px;

        .MuiTableCell-root {
            font-family: $font-family !important;
            padding: 8px 16px !important;
        }
    }

    .milestone-checkbox.Mui-checked {
        color: $primary-main !important;
    }

    .milestone-label {
        font-size: 16px;
        font-weight: 500;
        color: $titleColor;
    }
}