@import '../../theme/variable.scss';

.MainDrawer {
    .drawer-container {
        width: 650px;
        padding: 5px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-family: $font-family !important;
        overflow-x: hidden;
        // position: relative;
    }

    .mltMainBox {
        position: relative;

        .taskCount {
            position: absolute;
            top: -10px;
            left: 10px;
            font-weight: bold;
        }
    }

    .tSideBarTgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 5px;

        .toggle-group {
            background-color: #f5f5f5;
            border-radius: 8px;
            padding: 4px;
            min-width: 200px;
            display: flex;
            gap: 5px;
            
            .toggle-button {
                display: flex;
                gap: 8px;
                flex: 1;
                font-size: 12px;
                font-family: $font-family !important;
                color: #666;
                border: none;
                line-height: .4rem;
                padding: 4px;
                text-transform: none;
                transition: all 0.2s ease-in-out;

                &.Mui-selected {
                    background-color: #fff !important;
                    color: #000 !important;
                    font-weight: 700;
                }
            }
        }
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .drawer-title {
        font-size: 20px;
        font-weight: bold;
        color: $titleColor !important;
    }

    .form-group {
        margin-bottom: 6px;
    }

    .form-label {
        font-size: 14px;
        font-weight: 600;
        color: $titleColor !important;
        margin-bottom: 8px;
        display: block;
        font-family: $font-family !important;
    }

    .drawer-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .primary-btn {
        background: $button-Bgcolor !important;
        color: $button-color !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .primary-btn:hover {
        background: $button-color-hover !important;
    }

    .secondary-btn {
        border-color: $button-Bordercolor !important;
        color: $button-Bordercolor !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .secondary-btn:hover {
        border-color: $button-Bordercolor;
        color: $button-Bordercolor !important;
    }

    .danger-btn {
        background: $button-DangerBgcolor !important;
        color: $button-Dangercolor !important;
        font-family: $font-family !important;
        border-radius: 8px !important;
    }

    .bulTaskTableContainer {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
        border-radius: 8px;

        .MuiTableCell-root {
            font-family: $font-family !important;
            padding: 8px 16px !important;
        }
    }

    .milestone-checkbox.Mui-checked {
        color: $primary-main !important;
    }

    .milestone-label {
        font-size: 16px;
        font-weight: 500;
        color: $titleColor;
    }
}