@import '../../theme//variable.scss';

.DRM {
    .MuiPaper-root {
        border-radius: 8px !important;
        max-width: 450px !important;
    }
}

.DRM,
.for_DialogBtn {
    font-family: $font-family !important;
    color: $titleColor !important;
}

.for_DialogBtn {
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}

@media (max-width: 600px) {
    .for_DialogBtn {
        font-size: 0.875rem;
    }

    .DRM {
        .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
            margin: 0px !important;
        }
    }

    .alert-titleContent {
        font-size: 0.875rem !important;
    }

}