@import "../../../theme/variable.scss";

.headerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // padding: 0px 8px;
    border-radius: 8px;

    .FirstMainBox {
        width: 70%;
        max-width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
    }

    .secondMainBox {
        width: 20%;
        max-width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .pasteButton {
            font-family: $font-family !important;
            text-transform: capitalize;
            margin-right: 15px;
            border-radius: 8px;
            color: $titleColor;
            outline-color: $primary-main !important;
            border-color: $primary-main !important;
        }
    }

    .categoryFilBtn {
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0.5;
        color: black;
        box-shadow: none;
        border-radius: 8px;
        padding: 4px 8px;
        display: flex;
        text-transform: capitalize !important;
        align-items: center;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.7;
        }

        &.active {
            opacity: 1;
        }
    }

    .view-mode-toggle {
        .toggle-btn {
            text-transform: none;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: background-color 0.2s ease;
        }

        .toggle-btn.Mui-selected {
            background: $button-Bgcolor;
            color: #fff;
        }

        .toggle-btn.Mui-selected:hover {
            background-color: $button-Bgcolor;
        }

        .toggle-icon {
            margin-right: 4px;
        }
    }

    @media (max-width: 1550px) {
        .FirstMainBox {
            width: 75% !important;
            max-width: 100%;
        }

        .secondMainBox {
            width: 25% !important;
            max-width: 100%;
        }

        .iconbtn {
            width: 18px !important;
            height: 18px !important;
            font-size: 18px !important;
        }
    }

    @media (max-width: 565px) {
        .FirstMainBox {
            width: 100% !important;
            max-width: 100%;
            align-items: start;
        }

        .secondMainBox {
            width: 100% !important;
            max-width: 100%;
            margin-top: 10px;
        }
    }
}

.filterMainContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 2px;
    font-family: $font-family !important;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2px;
    padding: 2px 8px;
    border-radius: 8px;

    .form-group {
        .filterLabletxt {
            font-size: 14px;
        }
    }

    .clearAllBtn {
        display: flex;
        justify-content: start;
        align-items: end;
        font-family: $font-family !important;
        text-transform: capitalize;
        font-weight: bold;
        color: $placeholderColor;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            background: transparent;
            text-decoration: underline;
        }
    }
}

.filterDrawerModal {
    .clearAllbtnBox {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}



/* Responsive styles for mobile */
@media (max-width: 600px) {
    .responsiveContainer {
        flex-direction: column;
    }
}