@import '../../../theme/variable.scss';

.module-milestone-report {
    font-family: $font-family;
    color: $text2ndColor;
    font-size: 14px !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden !important;

    .MuiTableContainer-root {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
        border-radius: 8px;
    }

    .MuiTableHead-root {
        .MuiTableCell-root {
            padding: 10px 15px;
            font-weight: bold !important;
            text-transform: uppercase;
            font-size: 14px !important;
            background-color: #f5f5f5;
        }
    }

    .MuiTableCell-root {
        font-family: $font-family !important;
        color: $text2ndColor;
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 1.6;
        text-align: start;
        padding: 10px 15px;
    }

    .status-cell {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        align-items: center;
        min-height: 46px;
    }

    .project-module-cell {
        .module-name {
            font-size: 15px !important;
            color: $text2ndColor !important;
            font-weight: 500 !important;
            line-height: 1.6;
        }

        .MuiTypography-caption {
            color: #6c757d;
        }
    }

    .deadline-cell {
        .MuiTypography-body1 {
            font-size: 14px;
            font-weight: 600;
        }

        .MuiTypography-caption {
            font-size: 0.8rem;
            color: #888;
        }
    }
}