@import '../../../theme/variable.scss';

.TaskTVMain {
    font-family: $font-family;
    color: $text2ndColor;
    font-size: 15px !important;


    .MuiTableContainer-root {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
        border-radius: 8px;
    }

    .MuiTableHead-root {

        .MuiTableCell-root {
            padding: 16px 10px;
            font-weight: bold !important;
            text-transform: uppercase;
            font-size: 13px !important;

            .MuiButtonBase-root {
                color: $text2ndColor !important;
            }
        }
    }

    .MuiTableCell-root {
        font-family: $font-family !important;
        color: $text2ndColor;
        font-size: 15px !important;
        padding: 6px 10px;
        font-weight: normal !important;
        // text-align: unset !important;
        text-align: start;

        .MuiButtonBase-root {
            color: $text2ndColor !important;
        }
    }

    .MuiTableSortLabel-root {
        color: $text2ndColor;

        &:hover {
            color: darken($text2ndColor, 10%);
        }
    }

    .MuiButton-root {
        font-family: $font-family;
        color: $text2ndColor;
        text-transform: none;
    }

    .MuiIconButton-root {
        color: $text2ndColor;
    }

    .MuiTablePagination-root {
        font-family: $font-family;
    }

    .MuiMenu-root {
        font-family: $font-family;
        color: $text2ndColor;

        .MuiMenuItem-root {
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    .MuiTableSortLabel-icon {
        color: $text2ndColor;
    }

    .TaskTVMain .MuiTablePagination-selectIcon {
        color: $text2ndColor;
    }

    .TablePaginationBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 15px 0;
    }

    .paginationText {
        font-size: 15px;
        color: #ACAAB1 !important;
    }

    .pagination {
        .MuiPaginationItem-root {
            font-family: $font-family;
            color: $text2ndColor;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(47, 43, 61, 0.08);
            min-height: 40px;

            &:hover {
                background-color: #e4e2fc;
            }

            &.Mui-selected {
                background-color: $secondaryColor;
                color: #fff !important;
                border: none;
            }

            &:hover {
                background-color: $button-color-hover !important;
                color: $button-color !important;
            }
        }
    }
}

.MenuBtnPaperClass {
    padding: 5px;

    ul li {
        font-family: $font-family !important;
        color: $text2ndColor !important;
        border-radius: 8px !important;

        &:hover {
            background: $button-Bgcolor !important;
            color: $button-color !important;
        }
    }

}