.heading{
    font-family: Calibri;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 2px 2px;
}
.container_main{
    display: flex;
    box-sizing: border-box;
    word-break: break-all;
    max-width: 750px;
    margin: 0 auto;
    font-family: Calibri;
    letter-spacing: 0.3px;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #000000;
}
.discolumn{
    display: flex;
    flex-direction: column;
}
.container1{
    display: flex;
    width: 115mm;
    border-bottom: 1px solid #bdbdbd;
}
.con1_header1{
    display: flex;
    width: 70%;
    height: 3rem;
    border-right: 1px solid #bdbdbd;
    padding-top: 2px;
    padding-left: 5px;
    font-weight: bold;
}
.con1_header2{
    width: 30%;
    height: 3rem;
    color: #292929;
    padding-top: 2px;
    padding-left: 5px;
}
.sphei1{
    height: 2.2rem;
}
.con1_body{
    padding: 2px 5px;
    height: 12px;
    border-bottom: 1px solid #bdbdbd;
}
.con1_body2{
    padding: 2px 5px;
    background: #f1f1f1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #bdbdbd;
}
.con1_body3{
    padding: 1px 5px 21px 2px;
    border-bottom: 1px solid #bdbdbd;
}
.sppad1{
    padding: 17px;
}

.container2{
    display: flex;
    width: 83mm;
    border-left: 1px solid #000000;
}
.con2_header1{
    width: 22%;
    padding-top: 4px;
    padding-left: 3px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.con2_header2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    width: 75%;
    padding: 2px 20px;
}
.sppad{
    border-bottom: 1px solid #000000;
    width: 75%;
    height: 2.75rem;
    padding: 3px 5px;
}
.sphei{
    height: 2.9rem;
}
.con2_body{
    width: 83mm;
    border-left: 1px solid #000000;
}
.con2_subbody{
    padding: 0 0 21px 10px;
}
.con2_body2{
    width: 80mm;
    border: 1px solid #000000;
    border-right: none;
    padding: 4px 5px;
}
.con2_body3{
    width: 82mm;
    background: #f1f1f1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #bdbdbd;
    border-left: 1px solid #000000;
    text-align: center;
    padding: 2px 1px 2px 1px;
}
.con2_body4{
    width: 83mm;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #bdbdbd;
}
.con2_subbody4{
    height: 14.4px;
    padding: 1px 0 1px 10px;
}
@media print {
    .printbtn{
      display: none !important;
    }
    @page {
      margin: 6mm; /* top, right, bottom, left */
    }
  }