@import '../../theme/variable.scss';

.masterMainDiv {
    .masterToggleBox {
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;

        .toggle-group {
            background-color: #f4f4f5;
            border-radius: 8px;
            padding: 6px;
            display: flex;
            gap: 10px;
            width: 100%;

            .toggle-button {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                font-family: $font-family !important;
                color: $placeholderColor;
                border: none;
                line-height: 1.4rem;
                padding: 4px 8px;
                text-transform: none;
                transition: all 0.2s ease-in-out;
                min-width: 0;

                &.Mui-selected {
                    background-color: #fff !important;
                    color: $titleColor !important;
                }
            }
        }
    }

    .masterGridBox {
        .gridHeaderBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .TableContainer {
            box-shadow: $box-shadow-value !important;
            border-radius: 8px;
            font-family: $font-family !important;
        }

        .Table {
            font-family: $font-family !important;

            th {
                text-transform: capitalize;
                font-family: $font-family !important;
                color: $placeholderColor;
                background-color: #f5f5f5;
            }

            td {
                font-family: $font-family !important;
                color: $titleColor;
                padding: 8px 16px;
            }
            .actionCell{
                text-align: right;
            }
        }

        .TablePaginationBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none!important;
            gap: 16px;
            padding: 15px 0;
        }

        .paginationText {
            margin-left: 10px;
            font-size: 15px;
            color: #ACAAB1 !important;
        }

        .pagination {
            margin-right: 10px;
            .MuiPaginationItem-root {
                // margin-right: 10px;
                font-family: $font-family;
                color: $text2ndColor;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                border-color: rgba(0, 0, 0, 0);
                background-color: rgba(47, 43, 61, 0.08);
                min-height: 40px;

                &:hover {
                    background-color: #e4e2fc;
                }

                &.Mui-selected {
                    background-color: $secondaryColor;
                    color: #fff !important;
                    border: none;
                }

                &:hover {
                    background-color: $button-color-hover !important;
                    color: $button-color !important;
                }
            }
        }
    }
}