    @import "../../../theme/variable.scss";

    .muiTableTaContainer {
        box-shadow: $box-shadow-value !important;
        border-radius: 8px !important;

        .muiTable {
            .muiTableHead {
                background: #f5f5f5;
            }

            .MuiTableCell-root {
                padding: 8px;
                font-family: $font-family !important;
                color: $text2ndColor !important;
            }

            .MuiTypography-root {
                color: $text2ndColor !important;
                font-size: 14px;
            }
        }
    }