@import '../../../../theme/variable.scss';

.prDashboard_ToggleBox {
    .toggle-group {
        background-color: #f4f4f5;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        gap: 10px;

        .toggle-button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-family: $font-family !important;
            color: $placeholderColor;
            border: none;
            line-height: 1.4rem;
            padding: 4px 8px;
            text-transform: none;
            transition: all 0.2s ease-in-out;
            min-width: 0;

            &.Mui-selected {
                background-color: #fff !important;
                color: $titleColor !important;
            }
        }
    }
}