@import "../../../../theme/variable.scss";

// Define a map for status colors
$status-colors: (
  success: $success-main,
  primary: $primary-main,
  warning: $warning-main,
  error: $error-main
);

.milestone-container {
    padding: 16px;
    box-shadow: $box-shadow-value;
    border-radius: 8px;

    .milestone-title {
        text-align: center;
        margin-bottom: 16px;
    }

    .milestone-card {
        padding: 16px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: $box-shadow-value;
    }

    .milestone-name {
        font-weight: bold;
    }

    .milestone-department,
    .milestone-dates {
        font-size: 14px;
        color: #555;
    }

    .progress-container {
        margin-top: 8px;
    }

    // Reusable progress-bar styling
    .progress-bar {
        height: 8px;
        border-radius: 8px;
        background-color: $divider-color;

        &.success .MuiLinearProgress-bar {
            background-color: $success-main;
        }

        &.primary .MuiLinearProgress-bar {
            background-color: $primary-main;
        }

        &.warning .MuiLinearProgress-bar {
            background-color: $warning-main;
        }

        &.error .MuiLinearProgress-bar {
            background-color: $error-main;
        }
    }

    .progress-text {
        font-size: 14px;
        margin-top: 4px;
        display: block;
        font-weight: bold;
    }

    // Text color based on status
    .text-success { color: $success-main !important; }
    .text-primary { color: $primary-main !important; }
    .text-warning { color: $warning-main !important; }
    .text-error { color: $error-main !important; }

    // Reusable dot styling using map for status
    @each $status, $color in $status-colors {
        .dot-#{$status} {
            background-color: $color !important;
        }
    }
}
