@import "../../../../theme/variable.scss";

.team-container {
    .team-table-container {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: $box-shadow-value !important;


        .teamMember_table {
            width: 100%;
            border-collapse: collapse;
            font-family: $font-family !important;
            color: $text2ndColor !important;

            th,
            td {
                padding: 12px 16px;
                text-align: left;
                border-bottom: 1px solid #e0e0e0;
                font-family: $font-family !important;
                color: $text2ndColor !important;
            }

            th {
                background-color: #f5f5f5;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                font-family: $font-family !important;
            }

            td {
                font-size: 14px;
            }

            tbody {
                tr {
                    td {
                        .team_uploadedBy {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .team-avatar {
                                width: 30px !important;
                                height: 30px !important;
                            }
                            p{
                                font-size: 14px;
                                color: $text2ndColor !important;
                            }
                        }
                    }

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }
        }
    }
}