@import '../../theme/variable.scss';

#external-tasks {
    .bg-primary {
        border-color: transparent !important;
        color: $primary-main !important;
        background-color: $primary-light-bg !important;

        .text-primary p {
            color: #444050 !important;

        }
    }

    .bg-success {
        border-color: transparent !important;
        color: $success-main !important;
        background-color: $success-light-bg !important;

        .text-success p {
            color: #444050 !important;
        }
    }

    .bg-error {
        border-color: transparent !important;
        color: $error-main !important;
        background-color: $error-light-bg !important;

        .text-error p {
            color: #444050 !important;
        }
    }

    .bg-warning {
        border-color: transparent !important;
        color: $warning-main !important;
        background-color: $warning-light-bg !important;

        .text-warning p {
            color: #444050 !important;
        }
    }

    .bg-info {
        border-color: transparent !important;
        color: $info-main;
        background-color: $info-light-bg !important;

        .text-info p {
            color: #444050 !important;
        }
    }
}

.cal_leftSidetgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 5px;

    .toggle-group {
        background-color: #f5f5f5;
        border-radius: 8px;
        padding: 6px;
        margin: 10px;
        min-width: 320px;
        display: flex;
        position: relative;
        z-index: 1;

        .toggle-button {
            flex: 1;
            font-size: 16px;
            color: #666;
            border: none;
            line-height: 1.4rem;
            text-transform: none;
            transition: all 0.2s ease-in-out;
            font-family: $font-family;

            &.Mui-selected {
                background-color: #fff !important;
                color: #000 !important;
                font-weight: 700;
            }
        }
    }
}

.meetingAssigneBox {
    .MuiBox-root {
        display: flex;
        gap: 10px;
    }
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-default {
    background: rgba(115, 103, 240, 0.16) !important;
}