@import '../../theme/variable.scss';

.itask_sidebarDrawer {
    display: flex;
    box-shadow: 0 .125rem .5rem 0 rgba(47, 43, 61, .12);
    font-family: $font-family;
    height: 100vh;
}

.itask_drawerButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1300;
}

.itask_drawerButtonOpen {
    left: calc(280px - 50px);
}

.itask_drawerListItem {
    padding: 6px 0 !important;
    border-radius: 8px !important;
    justify-content: center !important;
}

.itask_drawerItemActive {
    background: $sidebar-Activebg;
    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3) !important;
    color: #fff !important;
}

.itask_drawerItemActive .MuiTypography-root {
    color: #fff !important;
}

.itask_drawerItemIcon {
    min-width: 40px;
    justify-content: center !important;
}

.itask_drawerItemText {
    margin-bottom: 0px;
}

.itask_drawerItemText .MuiTypography-root {
    color: $titleColor;
    font-size: 15px;
    font-family: $font-family;
}

.itask_checkbox {
    color: $button-Bordercolor !important;
}

.itask_checkboxChecked {
    color: $button-Bordercolor !important;
}

/* Styles for active button */
.itask_drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 6px !important;
}

.itask_logoWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    .itask_logo {
        height: 40px;
        object-fit: contain;
        mix-blend-mode: darken;
    }

    .itask_logoTxt span {
        font-size: 30px;
        font-weight: 600;
        font-family: $font-family !important;
        color: $titleColor;
    }
}

.itask_separator {
    margin-block: 10px;
    border: 1px solid #7d7f85;
    border-style: dashed;
    opacity: 0.3;
}

.itask_drawerItemTextOpen {
    color: $titleColor !important;
}

.iconActive {
    color: #fff !important;
}

.iconUnactive {
    color: #7d7f85 !important;
}

@media (max-width: 767px) {
    .itask_drawerButton {
        justify-content: start !important;
        align-items: start !important;
        text-align: center !important;
    }
}