@import '../../theme/variable.scss';

.itask_sidebarDrawer {
    display: flex;
    box-shadow: 0 .125rem .5rem 0 rgba(47, 43, 61, .12);
    font-family: $font-family;
    height: 100vh;
}

.itask_Menudrawer {
    z-index: 1100 !important;

    .MuiPaper-root {
        z-index: 1100 !important;
    }
}

.itask_drawerButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1200 !important;
}

.itask_drawerText {
    font-family: $font-family;
    color: $titleColor;
}

.itask_drawerButtonOpen {
    left: calc(280px - 50px);
}

.itask_drawerListItem {
    padding: 6px 0 !important;
    border-radius: 8px !important;
    justify-content: center !important;
}

.itask_drawerItemActive {
    background: $sidebar-Activebg;
    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3) !important;
    color: #fff !important;
}

.itask_drawerItemActive1 {
    background: $divider-color;
}

.itask_drawerItemActive .MuiTypography-root {
    color: #fff !important;
}

.itask_drawerItemIcon {
    min-width: 40px;
    justify-content: center !important;
}

.itask_drawerItemText {
    margin-bottom: 0px;
}

.itask_drawerItemText .MuiTypography-root {
    color: $titleColor;
    font-size: 15px;
    font-family: $font-family;
}

.itask_checkbox {
    color: $button-Bordercolor !important;
}

.itask_checkboxChecked {
    color: $button-Bordercolor !important;
}

/* Styles for active button */
.itask_drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 6px !important;
}

.itask_logoWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    .itask_logo {
        height: 40px;
        object-fit: contain;
        mix-blend-mode: darken;
        line-height: .8px;
    }

    .itask_logoTxt {
        margin-top: 0px;
        margin-bottom: 0px;

        span {
            font-size: 30px;
            font-weight: 600;
            font-family: $font-family !important;
            color: $titleColor;
            line-height: .8px;
        }
    }
}

.itask_separator {
    margin-block: 10px;
    border: 1px solid #7d7f85;
    border-style: dashed;
    opacity: 0.3;
}

.itask_drawerItemTextOpen {
    color: $titleColor !important;
}

.iconActive {
    color: #fff !important;
}

.iconActive1 {
    color: $secondaryColor !important;
}

.iconUnactive {
    color: $secondaryColor !important;
}

.itask_collapsable {
    margin-left: 30px;

    .MuiCollapse-wrapperInner {
        display: flex !important;
        gap: 10px;

        .itask_divider {
            width: 3px !important;
            background-color: $placeholderColor !important;
            opacity: .3;
            border-radius: 4px;
        }
    }

    .itask_subMenuList {

        // margin-inline: 10px;
        .MuiButtonBase-root {
            border-radius: 8px;
            padding: 5px 15px !important;
            margin-bottom: 8px;
        }
    }
}


@media (max-width: 767px) {
    .itask_sidebarDrawer {
        height: 100% !important;
    }

    .itask_drawerButton {
        justify-content: start !important;
        align-items: start !important;
        text-align: center !important;
    }
}