@import "../../theme/variable.scss";

.report-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden !important;

    @media(max-width: 712px) {
        padding: 10px;
    }

    .pmsFilterBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pmsSideBarTgBox {
            display: flex;
            justify-content: end;
            align-items: center;
            position: relative;
            padding: 5px;
            gap: 10px;

            .toggle-group {
                background-color: #f5f5f5;
                border-radius: 8px;
                padding: 5px;
                min-width: 200px;
                display: flex;
                gap: 5px;

                .toggle-button {
                    display: flex;
                    gap: 8px;
                    flex: 1;
                    font-size: 14px;
                    font-family: $font-family !important;
                    color: #666;
                    border: none;
                    line-height: .4rem;
                    padding: 4px;
                    text-transform: none;
                    transition: all 0.2s ease-in-out;

                    &.Mui-selected {
                        background-color: #fff !important;
                        color: #000 !important;
                        font-weight: 700;
                    }
                }
            }
        }
        .pmsDateFilterBox{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}