$button-Bgcolor: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
$button-color: #fff;
$button-color-hover: #685dd8;
$button-Bordercolor: #685dd8;
$button-DangerBgcolor: #e65b65;
$button-Dangercolor: #ffffff;

$sidebar-Activebg: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%) !important;
$font-family: "Public Sans", sans-serif, '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
$titleColor: #444050;
$secondaryColor: #7D7f85;
$text2ndColor: #6D6B77;
$placeholderColor: #808080;
$box-shadow-value: 'rgba(0, 0, 0, 0.05) 0px 6px 24px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px';
$paper-shadow-value: '0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)';
$transition-duration: 200ms;


// calendar
// Primary Colors
$primary-main: #7367f0;
$primary-light: rgba(115, 103, 240, 0.16);
;
$primary-light-bg: rgba($primary-main, 0.16);

// Success Colors
$success-main: #28C76F;
$success-light: #c8e6c9;
$success-light-bg: rgba($success-main, 0.16);

// Error Colors
$error-main: #d32f2f;
$error-light: #ffcdd2;
$error-light-bg: rgba($error-main, 0.16);

// Warning Colors
$warning-main: #f57c00;
$warning-light: #ffe0b2;
$warning-light-bg: rgba($warning-main, 0.16);

// Info Colors
$info-main: #00CFE8;
$info-light: #b3e5fc;
$info-light-bg: rgba($info-main, 0.16);

// Divider Color
$divider-color: #e0e0e0;



.buttonClassname {
    font-family: $font-family !important;
    background: $button-Bgcolor;
    color: $button-color;
    border-color: $button-Bordercolor;

    &:hover {
        background-color: $button-color-hover;
        border-color: $button-Bordercolor;
    }
}

.MuiTypography-root {
    font-family: $font-family !important;
    color: $titleColor;
}

.textfieldsClass {
    .MuiOutlinedInput-root {
        font-family: $font-family !important;
        color: $placeholderColor !important;
        border-radius: 8px !important;
        padding: 0px 5px !important;
    }

    .MuiPickersDay-root {
        font-family: $font-family !important;
        background-color: $button-Bgcolor;
        color: $button-color;
    }

    .MuiOutlinedInput-root fieldset {
        border-color: #ccc;
    }

    .MuiOutlinedInput-root:hover fieldset {
        border-color: $button-Bordercolor;
    }

    .MuiOutlinedInput-root.Mui-focused fieldset {
        border-color: $button-color-hover;
    }

    .MuiInputBase-input {
        color: $placeholderColor !important;
        padding: 7.5px 5px !important;

        &:not(textarea) {
            padding: 7.5px 5px !important;
        }

        &.MuiInputBase-inputSizeSmall {
            padding: 7.5px 5px !important;
        }

        &.MuiInputBase-inputAdornedStart:not(.MuiAutocomplete-input) {
            padding-left: 0 !important;
        }

        &.MuiInputBase-inputAdornedEnd:not(.MuiAutocomplete-input) {
            padding-right: 0 !important;
        }

        &:not(.MuiInputBase-readOnly):not([readonly])::placeholder {
            transition: $transition-duration !important;
        }
    }

    .MuiOutlinedInput-root.Mui-focused {
        box-shadow: $box-shadow-value !important;

        .MuiInputBase-input:not(.MuiInputBase-readOnly):not([readonly])::placeholder {
            transform: translateX(4px);
        }
    }



    // Apply to Chips
    .MuiChip-root {
        font-family: $font-family !important;
        cursor: pointer;

        &:hover {
            background: $button-Bgcolor !important;
            color: $button-color;
        }

        .MuiChip-deleteIcon {
            &:hover {
                color: $button-color;
            }
        }

        .MuiChip-label {
            font-size: 12px !important;
        }
    }
}

// for select placeholder
.notranslate.placeholder {
    color: #9e9e9e;
    font-size: 14px !important;
}

.notranslate {
    color: #9e9e9e;
    font-size: 15px !important;
}

// mui autocomplete
.MuiAutocomplete-popper {
    .MuiPaper-root {
        box-shadow: $paper-shadow-value;
        border-radius: 8px !important;

        .MuiAutocomplete-listbox {
            .MuiAutocomplete-option {
                font-family: $font-family !important;
                color: $titleColor !important;
                border-radius: 8px !important;
                margin: 5px 10px !important;
                font-size: 15px !important;

                &[aria-selected="true"] {
                    background: $button-color-hover;
                    color: $button-color !important;
                }

                &:hover {
                    background-color: $button-color-hover;
                    color: $button-color !important;
                }
            }
        }
    }
}