@media screen and (max-width: 1320px) {
    .MuiCardContent-root {
      font-size: 12px;
    }
  
    .MuiTypography-root {
      font-size: 12px !important;
    }
  
    .MuiButton-root {
      font-size: 12px;
      padding: 4px 8px;
    }
  
    .custom-tooltip {
      font-size: 12px;
    }
  
    .MuiAvatar-root {
      width: 22px !important;
      height: 22px !important;
      font-size: 0.7rem !important;
    }
    .attendBtn{
        font-size: 12px !important;
        padding: 4px 8px !important;
    }
  }
  