@import '../../theme/variable.scss';

.profileCard {
    font-family: $font-family;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px !important;
    border-radius: 8px !important;

    .typoprofile {
        font-size: 15px !important;
        color: $text2ndColor;
        font-weight: 500 !important;
    }

    .priconcolo {
        color: $text2ndColor;
        width: 22px;
        height: 22px;
    }

    .typo {
        color: $text2ndColor;
    }

    .errorPFormMsg {
        color: red;
        font-size: 12px !important;
    }

}

.deActivateCard {
    margin-top: 20px;
    padding: 10px 25px 20px;

    .descPDeleteBox {
        margin-block: 15px;
        background: #fff0e1;
        padding: 10px;
        border-radius: 8px;

        h6 {
            color: #FF9F43;

            &:first-of-type {
                font-weight: 600;
            }
        }
    }

    .checkboxClassname {
        span {
            font-size: 15px !important;
            color: $secondaryColor;

            input {
                color: $secondaryColor !important;
            }
        }

        .MuiCheckbox-root {
            color: $button-Bordercolor !important;
        }
    }

}