@import "../../../../theme/variable.scss";

.TMainDrawer {
    .tMainBox {
        width: 450px;
        height: 100%;
        padding: 0 20px;

        .drawerHeader {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .drawer-title {
                font-size: 20px;
                font-weight: bold;
                color: $titleColor !important;
            }
        }

        .drawerContent {
            .form-group {
                margin-top: 10px !important;

                .MuiFormControl-root {
                    margin-top: 0 !important;
                }
            }
        }

        .AssigneeTable {
            .MuiTableCell-head {
                font-weight: bold;
            }

            .MuiTableCell-root {
                font-family: $font-family !important;
                padding: 5px 10px !important;
                margin: 0 !important;
                color: $text2ndColor !important;

                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}