.App {
  text-align: center;
}

.fc-event-resizer {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


.noHistoryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;

  .emptyImg {
    width: 50px;
    height: auto;
    margin-bottom: .2rem;
  }

  p {
    &:first-of-type {
      font-size: 14px;
      font-weight: 600;
      color: #6D6B77;
      margin-bottom: 0.2rem;
    }

    &:last-of-type {
      font-size: 12px;
      color: #6D6B77;
      max-width: 80%;
      line-height: 1.4;
    }
  }
}


.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  padding: 8px 16px;
}

.MuiDataGrid-toolbarContainer {
  padding: 8px 16px !important;
}

