.App {
  text-align: center;
}

.fc-event-resizer {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
/* .Toastify__toast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: fit-content !important;
}

.Toastify__toast {
  width: fit-content !important;
  font-family: "Inter", sans-serif;
}

.Toastify__toast-body {
  padding: 0px 6px;
} */